Deep-Learning-GA-Universe.ipynb linguist-generated=true
Deep-Learning-GA-holdout.ipynb linguist-generated=true
Deep-Learning-GA-proof.ipynb linguist-generated=true
Deep-Learning-GA.ipynb linguist-generated=true
Q3.ipynb linguist-generated=true
Test-Universe-File.ipynb linguist-generated=true
